/* Common */

body {
  background-color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: var(--color-white);
}

/* Container */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1200px) {
  .container {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
}

/* Button */
.btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-area);
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-color: var(--color-hover);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.btn-primary:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}

.container {
  padding-top: 40px;
}

.movie-details {
  display: flex;
  color: var(--color-white-60);
  min-width: 800px;
}

.movie-details .poster {
  width: 400px;
  height: calc(400px * 3/2);
  margin-right: 70px;
  border-radius: 10px;
  background-color: var(--color-black);
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
}

.specs {
  flex-grow: 1;
  margin-right: 20px;
}

.specs .title {
  color: var(--color-primary);
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 30px;
}

.specs .labels {
  color: skyblue
}

.specs .labels span::after{
  content: "\00b7";
  margin: 0 8px;
}
.specs .labels span:last-child::after {
  display: none;
}

.plot {
   margin-top: 20px;
 }

.rating-wrap {
   display: flex;
}
.rating-wrap .rating {
   display: flex;
   align-items: center;
   margin-right: 32px;
 }
h3 {
  margin: 24px 0 6px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.genres span::after{
  content: "\00b7";
  margin: 0 8px;
}

.genres span:last-child::after {
  display: none;
}

.writer {
  width: 45%;
  height: 2rem;
  background-color: var(--color-area);
  border: 2px solid var(--color-white);
  border-radius: 20px;
  margin-top: 10px;

  color: var(--color-white);
  padding-left: 1rem;

}

.password {
  width: 45%;
  height: 2rem;
  background-color: var(--color-area);
  border: 2px solid var(--color-white);
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 2.5%;

  color: var(--color-white);
  padding-left: 1rem;
}

.writing-comment {
  width: 94.5%;
  height: 2rem;
  background-color: var(--color-area);
  border: 2px solid var(--color-white);
  border-radius: 20px;
  margin-top: 10px;

  color: var(--color-white);
  padding-left: 1rem;
}

.writing-comment::placeholder {
  position: fixed;
  top: 10px;
}

.review {
  width: 100%;
}

.comment-list {
  height: 150px;
  width: 100%;
  margin: 5px 0;
  overflow-y: scroll;
}

.comment-list::-webkit-scrollbar {
  display: none;
}

.uploaded-comments {
  height: 2rem;
  margin: 0.5rem 0;
  background-color: var(--color-area);
  border-radius: 20px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  align-self: center;
}

.back {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  display: block;
}
